:root {
  font-size: 16px;
  --app-font: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  --value1-color: red;
  --value2-color: blue;
}

body {
  font-family: var(--app-font);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  text-align: center;
  font-style: italic;
  margin: 12px 0;
  flex: 0 0 auto;
}

#canvas-container {
  flex: 1 1 auto;
  height: 260px;
  width: 100%;
  position: relative;
}

#linkedlistcanvas {
  background-color: rgb(219, 219, 219);
  /* flex: 1 1 auto;
  height: 260px;
  min-width: 100%; */
  height: 100%;
  width: 100%;
}

.canvas-info-text {
  position: absolute;
  color: black;
  z-index: 1;
  font-size: 3rem;
  bottom: 0;
  right: 12px;
}

.canvas-upper-text {
  position: absolute;
  color: rgba(0, 0, 0, 0.663);
  z-index: 2;
  font-size: 1rem;
  top: 4px;
  left: 4px;
}

/* Mainbar styling */

main {
  display: flex;
  margin: 12px;
  height: 100px;
  flex: 0 0 auto;
  gap: 24px;
  align-items: stretch;
}

#newlist-container > button {
  text-align: center;
  width: 88px;
  height: 100%;
  padding: 12px;
  line-height: 1.2rem;
}

#button-container {
  display: grid;
  height: 100%;
  grid-auto-flow: column;
  gap: 4px 12px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

#content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 6px;
  height: 100%;
  align-items: flex-start;
}

#content-container > h3 {
  font-size: 1.6rem;
}

#content-container span {
  font-style: italic;
}

#content-container span:nth-of-type(1) {
  color: var(--value1-color);
}

#content-container span:nth-of-type(2) {
  color: var(--value2-color);
}

#content-container input:nth-of-type(1) {
  border: 1px solid var(--value1-color);
}

#content-container input:nth-of-type(2) {
  border: 1px solid var(--value2-color);
}

#content-container input:nth-of-type(1):focus-visible {
  outline: 1px solid var(--value1-color);
}

#content-container input:nth-of-type(2):focus-visible {
  outline: 1px solid var(--value2-color);
}

#content-container > div {
  font-size: 0.8rem;
}

#content-container input {
  width: 8ch;
  text-align: center;
  margin: 0 4px;
  border-radius: 8px;
  padding: 1px 8px;
}

#content-container input[type='number']::-webkit-outer-spin-button,
#content-container input[type='number']::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
  margin: 0;
}

input:focus::placeholder {
  color: transparent;
}

#content-container > button {
  align-self: center;
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Node styling */

.node {
  border: 1px solid black;
  position: absolute;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.392);
  cursor: pointer;
  user-select: none;
  z-index: 10;
}

.node.selected {
  box-shadow: 0 0 8px 4px rgba(255, 255, 0, 0.819);
}

.node.flash {
  animation-name: flash-node;
  animation-duration: 160ms;
  animation-timing-function: steps(2, jump-none);
  animation-iteration-count: 3;
}

@keyframes flash-node {
  from {
    box-shadow: 0 0 8px 4px rgba(255, 255, 0, 0.819);
  }
  to {
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.392);
  }
}

.node-overlay {
  font-size: 3rem;
  position: absolute;
  top: -3rem;
  width: 100%;
  text-align: center;
}

.nodevalue {
  background-color: rgb(49, 255, 63);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 6px 2px 2px 2px;
  width: 6rem;
  min-height: 2rem;
  height: min-content;
  pointer-events: none;
  position: relative;
}

.nodevalue::before {
  content: '.value';
  font-size: 0.6rem;
  position: absolute;
  top: 0;
  left: 2px;
  font-style: italic;
  opacity: 0.8;
}

.nodepointer {
  background-color: rgb(183, 0, 0);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 2px 0 2px;
  width: 6rem;
  height: 2rem;
  pointer-events: none;
  position: relative;
}

.nodepointer::before {
  content: '.next';
  font-size: 0.6rem;
  position: absolute;
  top: 0;
  left: 2px;
  font-style: italic;
  opacity: 0.8;
}
